.about-mid{
    background-color: #6C6C6C;
}
.info-about2{
    margin-top: 100px;
    color: black;
}
.img-about{
    margin-top: 100px;
}

.body {
    margin-bottom: 0px;
}

.about-picture {
    height: 100%;
}

.about-picture img {
    object-fit: cover;
    object-position: center;
}