.header{
    background-image: url(../img/Rectangle\ 16105.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
}
.main-banner{
    display: flex;
    justify-content: center;
    margin-top: 275px;
    color: white;
}
.about-mid{
    background-color: #6C6C6C;
}
.info-about2{
    margin-top: 100px;
    color: black;
}
.img-about{
    margin-top: 100px;
}
.big-button{
    margin-top: 50px;
    width: 80%;
    margin: 0;
}
.body{
    background-color:#6C6C6C;
    padding-top: 50px;
}
hr{
    color: black;
}